/* ===================================================
   Reset CSS
=================================================== */

/* reset.css */

*,
*::before,
*::after{
    box-sizing:border-box;
}

html{
    -webkit-text-size-adjust:100%;
}

body{
    margin:0;
}

img,
picture,
svg,
video,
canvas{
    display:block;
    max-width:100%;
}

input,
button,
textarea,
select{
    font:inherit;
}

button{
    cursor:pointer;
}

ul[role="list"],
ol[role="list"]{
    list-style:none;
    padding:0;
}

h1,h2,h3,h4,h5,h6,
p,
figure,
blockquote{
    margin:0;
}


/*Smooth images*/
img{
    max-width:100%;
    height:auto;
}

/*Anchor reset*/
a{
    color:inherit;
    text-decoration:none;
}


/*Form reset*/
input,
button,
textarea,
select{
    font:inherit;
}

/*Better Line Height*/
body{
    margin:0;
    line-height:1.5;
}


.list-reset{
    list-style:none;
    padding:0;
    margin:0;
}


/* ===================================================
   Divi Custom Module Reset
=================================================== */

.et_pb_code.custom-module,
.et_pb_code.custom-module .et_pb_code_inner {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}