/* =========================
   PRIMARY NAVIGATION
========================= */

/* Regular navigation */
#top-menu > li > a {
    text-transform: none!important;
    font-size: var(--font-size-base)!important;
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.2px;
}

/* Book a Session button */
#top-menu > li.nav-primary-btn > a {
    text-transform: uppercase!important;
     font-size: var(--font-size-sm)!important;
    font-weight: var(--font-weight-semibold);
    letter-spacing: 0.5px;
}

#top-menu > li {
    padding-right: 18px!important;
}

#top-menu > li.nav-primary-btn {
    padding-right: 0!important;
}


/* ==========================================================
   Navigation
========================================================== */

@media (max-width: 980px) {

  /* Hamburger icon */
  .mobile_menu_bar:before {
    color: var(--color-forest-green) !important;
  }

  /* Mobile header bottom border */
  
  .et_mobile_menu {
    border-top: 2px solid var(--color-forest-green) !important;
  }
}
