/* ==========================================================
   Navigation
========================================================== */

@media (max-width: 980px) {

  /* Hamburger icon */
  .mobile_menu_bar:before {
    color: var(--color-forest-green) !important;
  }

  /* Mobile header bottom border */
  /* #main-header {
    border-bottom-color: var(--color-forest-green) !important;
  } */
  .et_mobile_menu {
    border-color: var(--color-forest-green) !important;
  }
}
